$light-color: #f7fafc;
$indigo-color: #3c366b;
$gray-color: #4a5568;
$red-color: #e74c3c;
$light-gray: #ddd;
$black-color: black;
$gray: #718096;
$font-stack: Helvetica, sans-serif;
body {
  font: 100% $font-stack;
  margin: 0;
}
.navbar {
  background-color: $light-color;
  overflow: hidden;
  a {
    color: $gray-color;
    float: left;
    display: block;
    text-align: center;
    padding: 7px 20px;
    text-decoration: none;
    img {
      height: 35px;
      width: 180px;
    }
  }
  a:hover {
    background-color: $light-gray;
    color: $black-color;
    padding: 10px 20px;
  }
  .right {
    float: right;
    width: auto;
    display: block;
    padding: 5px;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    a {
      float: none;
      width: 100%;
    }
    .right {
      float: none;
      width: 100%;
    }
  }
}

.header {
  // background-color: $indigo-color;
  // color: $light-color;
  // height: 150px;
  background-image: url("images/logo-pupr.png");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 1px solid $indigo-color;
  border-bottom: 1px solid $indigo-color;
}

.text-header {
  text-align: center;
  padding: 30px;
  hr {
    margin: auto;
    width: 50%;
    border-color: $gray;
    margin-bottom: 10px;
  }
  p {
    color: $gray-color;
    font-size: 20px;
    margin-bottom: 50px;
  }
}

@mixin judul($color, $shadow) {
  color: $color;
  text-shadow: 1px 1px $light-color;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.judul-header {
  @include judul($indigo-color, $light-color);
}

.judul-product {
  @include judul($light-color, $indigo-color);
}

.button-basic {
  border: none;
  padding: 15px 15px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-family: "Poiret one", Cursive;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 30px;
}

.button-primary {
  @extend.button-basic;
  background-color: $red-color;
}

.button-secondary {
  @extend.button-basic;
  background-color: $gray;
}

.grid-container {
  box-sizing: border-box;
}

@mixin item($value) {
  width: $value;
  float: left;
  @media screen and (max-width: 800px) {
    float: none;
    width: 100%;
  }
}

.item-sepertiga {
  @include item(33%);
}

.item-duapertiga {
  @include item(66%);
}

.tentang {
  background-image: linear-gradient(to bottom right, $light-gray, $light-color);
  height: 400px;
  @media screen and (max-width: 800px) {
    text-align: center;
  }
  img {
    border-radius: 100%;
    padding: 20px;
    width: 300px;
    height: 300px;
  }
  h1 {
    color: $indigo-color;
    text-shadow: 1px 1px $light-color;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  h2 {
    color: $red-color;
    font-size: 32px;
    margin-bottom: 15px;
  }
  p {
    color: $gray-color;
    font-size: 20px;
  }
}

.product {
  background-color: $indigo-color;
}

.image-style {
  border-radius: 25px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-body {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
  .product-item {
    background-color: $light-color;
    color: $gray;
    box-shadow: 0 4px 8px 0 $gray;
    margin: 16px;
    border-radius: 10px;
    width: 340px;

    img {
      width: 90%;
      @extend .image-style;
    }
    .product-content {
      padding: 20px;
      margin-top: 20px;
    }
    .product-footer {
      padding: 20px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
}

.kontak {
  background-color: $light-color;
  color: $gray-color;
  height: 100px;
}

footer {
  background-color: $light-color;
  color: $gray-color;
  height: 75px;
}
